// .app {
// }

:root {
  --color: #ccc;
  --color-dim: #aaa;
  --background-color: #000;
  --opacity-medium: 67%;
}

.debug {
  position: absolute;
  top: 0;
  left: 0;
  max-width: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  padding: 0.5rem;
  box-sizing: border-box;
  color: var(--color-dim);
  background-color: var(--background-color);
  opacity: var(--opacity-medium);
  font-weight: 100;
  font-size: 0.75rem;
}

.menubar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: var(--background-color);
  opacity: var(--opacity-medium);
  display: flex;
  gap: 0.5rem;
}

.plain-list {
  list-style-type: none;
  padding: 0;
  padding-inline-start: 2ex;
  margin: 0;
}

.icon-link {
  color: var(--color-dim);
  text-emphasis: none;
  display: inline-block;

  &:hover {
    color: var(--color);
  }
}

 .icon-link svg {
  display: inline-block;
  vertical-align: middle;
}

.interactive {
  pointer-events: auto;
  touch-action: auto;
}